<!doctype html>
<html lang="es">
<%- include ('../../fragments/head') %>
<body>
<%- include ('../../fragments/header') %>
<%- include ('./mailing-title') %>
    <main id="main">
<%- include ('./mailing-proposal') %>
<%- include ('./mailing-services') %>
<%- include ('./mailing-keys') %>
<%- include ('./mailing-contact') %>
    </main>
<%- include ('../../fragments/footer') %>
<%- include ('../../fragments/foot') %>
</body>
</html>