<!doctype html>
<html lang="es">
<%- include ('../../fragments/head') %>
<body>
<%- include ('../../fragments/header') %>
    <main id="main">
<%- include ('./staff-content') %>
    </main>
<%- include ('../../fragments/footer') %>
<%- include ('../../fragments/arrow') %>
<%- include ('../../fragments/foot') %>
</body>
</html>