<!doctype html>
<html lang="es">
<%- include ('../../fragments/head') %>
<body>
<%- include ('../../fragments/header') %>
<%- include ('./landing-title') %>
    <main id="main">
<%- include ('./landing-proposal') %>
<%- include ('./landing-services') %>
<%- include ('./landing-keys') %>
<%- include ('./landing-banner') %>
<%- include ('./landing-contact') %>
    </main>
<%- include ('../../fragments/footer') %>
<%- include ('../../fragments/arrow') %>
<%- include ('../../fragments/foot') %>
</body>
</html>